body {
  color: rgb(41, 41, 41);
}

table {
  margin: 100px auto;
}

.title,
p {
  text-align: center;
  margin-top: 40px;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

td:hover {
  background-color: rgba(0, 216, 255, 0.2);
  cursor: pointer;
}

tr:nth-child(2)>td {
  border-top: 2px solid black !important;
  border-bottom: 2px solid black !important;
}

td:nth-child(2) {
  border-left: 2px solid black !important;
  border-right: 2px solid black !important;
}